@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>¡DB Aparment Profesores!</h1>
    <p class="lead">Bienvnedido, profesor/ra. Está la pagina principal para la reserva de un recurso multimedia.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Leer más</a></p>


  

    <div class="col-md-4">

        @Html.ActionLink("Profesor", "Index2", "Recursos", new { area = "" }, new { @class = "navbar-brand" })

    </div>

   


</div>

<div class="row">
    <div class="col-md-4">
        <h2>Integrantes:</h2>
        <p>
            -Mario Cerón
        </p>
        <p>
            -Alexander Cruz
        </p>
        <p>
            -Eduardo Aguilar
        </p>
        <p>
            -Walter Cuéllar
        </p>

    </div>
    
</div>